<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TODO List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <br/>
    <a th:href="@{/list}">Back to TODO List</a>

    <h1>Edit Task</h1>
    <br/>

    <div class="col-sm-4">
        <form action="#" th:action="@{/edit}" th:object="${task}" method="post">
            <div class="form-group">
                <label>Name:
                    <input class="form-control" th:field="*{taskname}" value="*{taskname}"/>
                    <a th:if="${#fields.hasErrors('taskname')}" th:errors="*{taskname}">
                        Name
                    </a>
                </label>
                <label>Weekday
                    <select name="weekday" th:field="*{weekday_id}" th:default="*{weekday_id}">
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                        <option value="6">Saturday</option>
                        <option value="7">Sunday</option>
                    </select>
                </label>
                <input type="hidden" th:field="*{id}" id="task_id" name="task_id" th:value="${id}"/>
                <div>
                    <input class="btn btn-success" type="submit" value="Submit"/>
                    <input class="btn btn-secondary" type="reset" value="Reset"/>
                </div>
            </div>
        </form>
    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
